/* *************** Imports *************** */
@import url("./reset.css");

/* *************** Fonts *************** */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");



/* *************** Variables *************** */
:root {
	--clr-primary: rgb(6, 50, 81);
	--clr-secondary: rgb(73, 166, 233);
	--clr-primary-darker: rgb(16, 42, 66);
	--clr-secondary-darker: rgb(97, 125, 152);
	--clr-grey: rgb(213, 213, 213);
	--clr-white: #fff;
	--clr-black: #222;

	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.4rem;
	--max-width: 1170px;
	--fixed-width: 620px;
}


/* *************** Global Styles *************** */
body {
	font-family: var(--ff-secondary);
	background: var(--clr-grey);
	color: var(--clr-primary-darker);
	line-height: 1.5;
	font-size: 0.875rem;
}

main {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	font-family: var(--ff-primary);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 0.875rem;
}

p {
	margin-bottom: 1.25rem;
	color: var(--clr-secondary-darker);
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1rem;
	}

	body {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}


.section {
	padding: 5rem 0;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}

@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}


/* *************** Nav *************** */
nav {
	background: var(--clr-white);
	height: 3rem;
	display: grid;
	align-items: center;
	box-shadow: var(--dark-shadow);
}

.nav-center {
	width: 90vw;
	max-width: var(--fixed-width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-center h3 {
	margin-bottom: 0;
	color: var(--clr-secondary);
}

.nav-links {
	display: flex;
}

nav span {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1rem;
	margin-right: 1rem;
	color: var(--clr-primary);
	letter-spacing: var(--spacing);
}

nav span:hover {
	color: var(--clr-secondary);
	cursor: pointer;
}


/* *************** Container *************** */
main {
	min-height: calc(100vh - 3rem);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	place-items: center;
}

main span {
	color: var(--clr-secondary);
}

.container-color,
.container-buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-align: center;
}

.container-color {
	flex-direction: column;
}

.box {
	background: var(--clr-black);
	color: var(--clr-white);
	padding: 1rem;
	border-radius: var(--radius);
}

.btn {
	display: inline-block;
	box-shadow: var(--light-shadow);
	border: 3px solid var(--clr-black);
	border-radius: var(--radius);
}

.btn:hover {
	cursor: pointer;
	color: var(--clr-white);
	background: var(--clr-black);
}

.btn-square {
	width: 3rem;
	height: 3rem;
	color: var(--clr-white);
	background-color: var(--clr-black);
	padding: 0.75rem;
}

.btn-hero {
	text-transform: uppercase;
	background: transparent;
	color: var(--clr-black);
	font-family: var(--ff-primary);
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: var(--spacing);
	transition: var(--transition);
	padding: 0.75rem 1.25rem;
}

.copy-message {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1rem;
	margin-right: 1rem;
	color: var(--clr-black);
	background-color: var(--clr-grey);
	padding: 0.75rem 1.25rem;
	border: 3px solid var(--clr-black);
	border-radius: var(--radius);
	letter-spacing: var(--spacing);
	position: absolute;
	transition: var(--transition);
	bottom: 2%;
	right: 0%;
}

.hidden {
	opacity: 0;
}
